<div class="top-container">
    <topnav class="top-nav"></topnav>
    <div class="slogan-container column-align dead-center">
        <h1 style="padding-bottom: 15px">Hi, I am Tsun Ming</h1>
        <h1 style="padding-bottom: 15px">a Frontend Developer in Jersey City, New Jersey</h1>
        <h4 style="padding-bottom: 35px">who is always excited use new technologies to improve legacy products</h4>
        <div class="action-buttons">
            <button mat-raised-button color="primary" routerLink="/about">RESUME</button>
            <span style="padding-left: 15px"></span>
            <button mat-raised-button color="primary" routerLink="/shop">CONTACT</button>
        </div>
    </div>
</div>
<div class="contentwrapper column-align dead-center">
    <div class="content column-align dead-center">
        <div class="skills row-align dead-center">
            <div class="left simple-center">
                <img src="/assets/home/programming.svg">
            </div>
            <div class="right column-align dead-center">
                <h2 style="text-align: center;">What I do</h2>
                <h5 style="text-align: center;">
                    A super quick learner that is alwasys looking to explore new development technologies.
                </h5>
                <div class="icons row-align">
                    <div class="icon column-align dead-center">
                        <img src="/assets/home/angular.svg">
                        <div>Angular</div>
                    </div>
                    <div class="icon column-align dead-center">
                        <img src="/assets/home/javascript.png">
                        <div>JavaScript</div>
                    </div>
                    <div class="icon column-align dead-center">
                        <img src="/assets/home/nodejs.png">
                        <div>Node.js</div>
                    </div>
                    <div class="icon column-align dead-center">
                        <img src="/assets/home/java.svg">
                        <div>Java</div>
                    </div>
                    <div class="icon column-align dead-center">
                        <img src="/assets/home/spring.svg">
                        <div>Spring</div>
                    </div>
                    <div class="icon column-align dead-center">
                        <img src="/assets/home/mongodb.svg">
                        <div>MongoDB</div>
                    </div>
                    <div class="icon column-align dead-center">
                        <img src="/assets/home/mysql.svg">
                        <div>MySQL</div>
                    </div>
                </div>

                <ul>
                    <li>
                        Develop resuable Front-End components for your web applications
                    </li>
                    <li>
                        Design interactive user interface for the best user experiences
                    </li>
                    <li>
                        Create reliable and scalable Back-End RESTful services with Java Spring Framework
                    </li>
                    <li>
                        Integration and Unit testing for both Front-End and Back-End
                    </li>
                </ul>
            </div>
        </div>
        <div class="experience column-align dead-center">
            <h2 style="padding: 15px">Work Experience and Education</h2>
            <mat-card class="card">
                <mat-card-title style="color: #4285F4">Bank of New York Mellon - Pershing</mat-card-title>
                <mat-card-subtitle>Feb, 2022 - Present</mat-card-subtitle>
                <mat-card-content>
                    Vice President | Specialist Frontend Developer
                </mat-card-content>
            </mat-card>
            <mat-card class="card">
                <mat-card-title style="color: #FBBC05">Pratt Institute</mat-card-title>
                <mat-card-subtitle>Jan, 2022 - Dec, 2023</mat-card-subtitle>
                <mat-card-content>
                    Master's Degree in User Experience Design
                </mat-card-content>
            </mat-card>
            <mat-card class="card">
                <mat-card-title style="color: #4285F4">Bank of New York Mellon - Pershing</mat-card-title>
                <mat-card-subtitle>Dec, 2019 - Jan, 2022</mat-card-subtitle>
                <mat-card-content>
                    Lead Frontend Developer
                </mat-card-content>
            </mat-card>
            <mat-card class="card">
                <mat-card-title style="color: #4285F4">Bank of New York Mellon - Pershing</mat-card-title>
                <mat-card-subtitle>Nov, 2018 - Nov, 2019</mat-card-subtitle>
                <mat-card-content>
                    Full Stack Developer
                </mat-card-content>
            </mat-card>
            <mat-card class="card">
                <mat-card-title style="color: #EA4335">Rutgers University - New Brunswick</mat-card-title>
                <mat-card-subtitle>Sep, 2015 - May, 2018</mat-card-subtitle>
                <mat-card-content>
                    Bachelor's Degree in Computer Science <br>
                    Minor in Japanese
                </mat-card-content>
            </mat-card>
        </div>
        <div class="projects column-align dead-center">
            <h2>Feature Personal Projects</h2>
            <div class="cardlist row-align dead-center">

                <mat-card class="card">
                    <mat-card-content>
                        <a href="https://ems.ai-amadeus.com">
                            <img src="/assets/home/ems.png">
                        </a>
                    </mat-card-content>
                    <mat-card-title>
                        <h5>Employee Management System</h5>
                    </mat-card-title>
                    <mat-card-subtitle>
                        https://ems.ai-amadeus.com
                    </mat-card-subtitle>
                </mat-card>
                <mat-card class="card">
                    <mat-card-content>
                        <img src="/assets/unknown.jpeg">
                    </mat-card-content>
                    <mat-card-title>
                        <h5>"Time Leap Machine"- Doc Center</h5>
                    </mat-card-title>
                    <mat-card-subtitle>
                        Coming Soon
                    </mat-card-subtitle>
                </mat-card>
                <mat-card class="card">
                    <mat-card-content>
                        <img src="/assets/unknown.jpeg">
                    </mat-card-content>
                    <mat-card-title>
                        <h5>Super Grounded</h5>
                    </mat-card-title>
                    <mat-card-subtitle>
                        Coming soon
                    </mat-card-subtitle>
                </mat-card>
            </div>

        </div>
        <div class="contact row-align dead-center">
            <div class="left simple-center">
                <img src="/assets/home/contact.png">
            </div>
            <div class="right column-align dead-center">
                <h2>Contact Me</h2>
                <h5>Send me a message if you would like to talk to me!</h5>
                <p>
                    ericyu049@gmail.com<br>
                    (732) 997-0696<br>
                    Linkedin: <a href="https://linkedin.com/in/tsunmingyu">https://linkedin.com/in/tsunmingyu</a><br>
                    Github: <a href="https://github.com/ericyu049">https://github.com/ericyu049</a>
                </p>
            </div>
        </div>
    </div>
</div>