<div class="top-container">
    <topnav class="top-nav"></topnav>
    <div class="slogan-container column-align dead-center">
        <h1 style="padding: 15px">UX Research</h1>
    </div>
</div>
<div class="content column-align dead-center">
    <div class="cardlist">
        <mat-card class="card" routerLink="/ux/crocheron">
            <mat-card-content>
                <img src="/assets/crocheron.jpeg">
            </mat-card-content>
            <mat-card-title>
                <h5>Friends of Crocheron & John Golden Park</h5>
            </mat-card-title>
            <mat-card-subtitle>
                Moderated Usability Research
            </mat-card-subtitle>
        </mat-card>
    </div>
</div>