<div class="top-container">
    <topnav class="top-nav"></topnav>
    <div class="slogan-container column-align dead-center">
        <h1 style="padding: 15px">Friends of Crocheron & John Golden Park</h1>
        <h4>Usability Evaluation Case Study</h4>
        <img style="margin: 25px;" src="/assets/park/crocheron_splash.jpeg">
    </div>
</div>
<div class="contentwrapper column-align dead-center">
    <div class="content">
        <div class="section1 row-align dead-center">
            <div class="icon-text-pair dead-center column-align">
                <div class="iconwrapper column-align dead-center">
                    <mat-icon class="material-icons-outlined"
                        style="height: 50px; width: 50px; font-size: 50px; color: #4285F4">group</mat-icon>
                    <div style="font-size: 20px; font-weight: bold">Client</div>
                </div>
                <div>
                    <p style="font-size: 16px; text-align: center">
                        Friends of Crocheron & John Golden Park
                    </p>
                </div>
            </div>
            <div class="icon-text-pair dead-center column-align">
                <div class="iconwrapper column-align dead-center">
                    <mat-icon class="material-icons-outlined"
                        style="height: 50px; width: 50px; font-size: 50px; color: #EA4335">person</mat-icon>
                    <div style="font-size: 20px; font-weight: bold">Role</div>
                </div>
                <div>
                    <p style="font-size: 16px; text-align: center">
                        User Testing <br>
                        Contacting participants<br>
                        Schedule and organize interviews<br>
                        Recommendations<br>
                        Creating presentation
                    </p>
                </div>
            </div>
            <div class="icon-text-pair dead-center column-align">
                <div class="iconwrapper column-align dead-center">
                    <mat-icon class="material-icons-outlined"
                        style="height: 50px; width: 50px; font-size: 50px; color: #fbbc05">group_work</mat-icon>
                    <div style="font-size: 20px; font-weight: bold">Group</div>
                </div>
                <div>
                    <p style="font-size: 16px; text-align: center">
                        Nikita Bawa<br>
                        Yang Cheng <br>
                        Erin Murphy<br>
                        Gurav Patel<br>
                        Eric Yu
                    </p>
                </div>
            </div>
            <div class="icon-text-pair dead-center column-align">
                <div class="iconwrapper column-align dead-center">
                    <mat-icon class="material-icons-outlined"
                        style="height: 50px; width: 50px; font-size: 50px; color: #34a853">schedule</mat-icon>
                    <div style="font-size: 20px; font-weight: bold">Timeline</div>
                </div>
                <div class="column-align dead-center">
                    <p style="font-size: 16px; text-align: center">
                        6 Weeks, March - April 2022
                    </p>
                </div>
            </div>
        </div>
        <div class="summary column-align dead-center">
            <h2 style="padding: 15px;">Project Summary</h2>
            <h5 style="text-align: center">
                The purpose of this study was to improve the usability of the Friends of Crocheron and John Golden Park
                website as the creators and users of this website believe that there are multiple roadblocks and
                challenges that need to be fixed. Throughout this study we have discovered several common issues and
                consolidated into four major problems, and provided corresponding recommendations to resolve these
                issues.
            </h5>
        </div>
        <div class="background column-align dead-center">
            <h2 style="padding: 15px;">Background</h2>
            <h5 style="text-align: center">
                The Crocheron Park is a 62 acres park located in Queens, New York with a long
                history. There are
                many regular visitors and there are many events hosted at this park every month. There are also many
                volunteering events happening periodically that allow anyone to participate to help improve the quality
                of the park.
            </h5>
        </div>
        <div class="background column-align dead-center">
            <h2 style="padding: 15px;">Methodology</h2>
            <h5 style="text-align: center">
                We recruited a total of 9 participants and conducted a remote usability test using a video conferencing
                tool <b><i>Zoom</i></b>. These participants are given a series of tasks to complete on the Friends of
                Crocheron and John Golden Park website, and we asks the participants to "think out loud" while they are
                navigating the website so that we can record their interactions and feedbacks.
            </h5>
        </div>
        <div class="process column-align dead-center">
            <h2 style="padding: 15px;">Our Process</h2>
            <div class="row-align dead-center">
                <div class="icon-text-pair dead-center column-align">
                    <mat-icon class="material-icons-outlined"
                        style="height: 50px; width: 50px; font-size: 50px; color: #4285F4">handshake</mat-icon>
                    <div style="font-size: 16px; text-align: center">
                        Client Kickoff Meeting
                    </div>
                </div>
                <div class="icon-text-pair dead-center column-align">
                    <mat-icon class="material-icons-outlined"
                        style="height: 50px; width: 50px; font-size: 50px; color: #EA4335">person_serach</mat-icon>
                    <div style="font-size: 16px; text-align: center">
                        Prepare Questions & Tests
                    </div>
                </div>
                <div class="icon-text-pair dead-center column-align">
                    <mat-icon class="material-icons-outlined"
                        style="height: 50px; width: 50px; font-size: 50px; color: #34a853">edit_note</mat-icon>
                    <div style="font-size: 16px; text-align: center">
                        Participant Recruitment & Interview Scheduling
                    </div>
                </div>
                <div class="icon-text-pair dead-center column-align">
                    <mat-icon class="material-icons-outlined"
                        style="height: 50px; width: 50px; font-size: 50px; color: #fbbc05">video_camera_front</mat-icon>
                    <div style="font-size: 16px; text-align: center">
                        Moderated User Testing
                    </div>
                </div>
                <div class="icon-text-pair dead-center column-align">
                    <mat-icon class="material-icons-outlined"
                        style="height: 50px; width: 50px; font-size: 50px; color: #4285F4">analytics</mat-icon>
                    <div style="font-size: 16px; text-align: center">
                        Analyze Results
                    </div>
                </div>
                <div class="icon-text-pair dead-center column-align">
                    <mat-icon class="material-icons-outlined"
                        style="height: 50px; width: 50px; font-size: 50px; color: #EA4335">summarize</mat-icon>
                    <div style="font-size: 16px; text-align: center">
                        Final Report & Presentation
                    </div>
                </div>
            </div>
        </div>
        <div class="prepare column-align dead-center">
            <h2 style="padding: 15px;">
                Preparing Questions & Test
            </h2>
            <h5 style="text-align: center;">
                Before recruiting participants, we created a interest form containing 4 questions. This form is to get
                some
                general demographic information and the interest in the park from the users that we are going to be
                interviewing.

            </h5>
            <div class="row-align dead-center" style="padding: 25px;">
                <img src="/assets/park/interestform.png">
                <img src="/assets/park/interestform2.png">
            </div>
            <h5 class="padding: 15px;" style="text-align: center;">
                A series of tasks were then created to be asked when we conduct the interviews. The tasks will cover
                pretty much several important section of the website. The <strong> condensed</strong> version of the
                tasks and questions asked are below:
            </h5>
            <mat-card>
                <mat-card-content>
                    <div class="row-align dead-center">
                        <h3 style="padding-right: 35px">1</h3>
                        <h5>
                            Is history something important to you? What would you like to learn more about the history
                            of the
                            park? Try to find this information on the website.
                        </h5>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <div class="row-align dead-center">
                        <h3 style="padding-right: 35px">2</h3>
                        <h5>
                            What kind of information would you expect to find in the park blog? What kind of content are
                            you
                            interested in reading about from the blog? Try going to the blog section and see which posts
                            would
                            you be interested to read more about.
                        </h5>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <div class="row-align dead-center">
                        <h3 style="padding-right: 35px">3</h3>
                        <h5>
                            Would you be interested in participating in an event? How would you like to participate in
                            this
                            event? Try to register as a volunteer for an upcoming event.
                        </h5>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <div class="row-align dead-center">
                        <h3 style="padding-right: 35px">4</h3>
                        <h5>
                            Why/why not would you be interested in donating to the park? Try to make a donation to the
                            park
                        </h5>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="recruit column-align dead-center">
            <h2 class="padding-15" style="text-align: center">Participant Recruitment & Interview Scheduling</h2>
            <h5 class="padding-15">
                Our team tried to focus on users that actively go to the crocheron park, so we reached out to our client
                help us promote our research study during one of their events to get some participants to participate in
                our study. However, the number of participants that contacted us were quite low, so we also reached out
                to some students at the Pratt Institute as well.
            </h5>
            <div class="row-align dead-center padding-15">
                <img src="/assets/park/age.png">
                <img src="/assets/park/occupation.png">
            </div>
            <img src="/assets/park/interest.png">
            <h5 class="padding-15">
                Overall, we were able to recruit 9 participants ranging from 25 to over 60 years old. Most of the
                participants were working professionals or retired, while the others are students. Most participants are
                active users of the park and also have volunteered at the park before, while 50% of the participants
                have donated to the park in the past.
            </h5>
        </div>
        <div class="testing column-align dead-center">
            <h2 class="padding-15">User Testing</h2>
            <h5 class="padding-15">
                After the participants filled out and submitted the interest screening questions, we scheduled all the
                participants and conducted our interviews. The tool that we used for this usabiliy test was <i>Zoom</i>,
                where the users will share their screen while they navigate through the website, with their camera and
                microphone on. As the participants going through the several tasks that we have given to them, we asked
                the participants to "think aloud", so we would be able to record and analyze users' interaction and
                reactions to the website.
            </h5>
            <div class="row-align dead-center padding-15">
                <img src="/assets/park/interview.png">
                <img src="/assets/park/interview2.png">
            </div>
        </div>
        <div class="analyze column-align dead-center">
            <h2 class="padding-15">Analyzing Results</h2>
            <h5 class="padding-15">
                There are several problems revealed after conducting all the user usability tests. After ranking each of
                the problems based on the severity and grouping duplicate and similar problems together, there are a
                total of 4 main problems identified. These problems cover the volunteering registration process,
                important information about donations on the donation page, the organization of the history page and
                format of the blog section.
            </h5>
            <div class="column-align dead-center">
                <h4 class="padding-15">Problem 1 - Volunteer Registration</h4>
                <h5 class="padding-15">
                    Events and volunteering registration are one of the most important aspects of the park itself, but
                    the process of registering was found to be somewhat confusing for many of the users. There are
                    multiple ways for users to reach the registration page, and one of the links is broken, leading to a
                    404 page. Additionally, many of the users often go to the calendar page first to see what events are
                    available, and they would expect the registration link to be available when they select a certain
                    event on the calendar, which was found to be actually not clickable at all.
                </h5>
                <img src="/assets/park/volunteer404.png">
                <img src="/assets/park/volunteerproblem.png">
                <h5 class="padding-15">Recommendation:</h5>
                <h5 class="padding-15">
                    A new simplified structure for the registration process as follow:
                    <ul>
                        <li>Create a single destination page for all the registration links from the homepage</li>
                        <li>Keep all the links consistent with the same destination webpage</li>
                        <li>Give two options once users clicks the registration button: Event registrations, Volunteer
                            registrations</li>
                        <li>Users can register the events directly from the links in the calendar.</li>
                        <li>In volunteer registrations provide the form you already have in the website for general
                            registrations</li>
                    </ul>
                </h5>
                <img src="/assets/park/registrationrecommendation.png">
            </div>
            <hr style="width: 100%">
            <div class="column-align dead-center">
                <h4 class="padding-15">Problem 2 - Donation Page</h4>
                <h5 class="padding-15">
                    When making a donation users find information about how the donations are utilized
                    valuable, and would like to see it on the donation page. The current donation page only says “$10 to
                    help support our cause!” but didn't indicate what the cause is. In addition, some users mentioned
                    that they would like to donate to a certain project they are interested in and hope to see the
                    progress of the project too.
                </h5>
                <img src="/assets/park/donationproblem.png">

                <h5 class="padding-15">Recommendation:</h5>
                <h5 class="padding-15">
                    Based on the findings, the team came up with the following recommendations, providing information
                    about the fund usage and intended use on the donation page by presenting information about how a
                    particular donation category helps the park and providing a link to a detailed fund usage on the
                    donation checkout page.
                </h5>
                <img src="/assets/park/donationrecommendation.png">
                <img src="/assets/park/donationrecommendation2.png">

            </div>
            <hr style="width: 100%">
            <div class="column-align dead-center">
                <h4 class="padding-15">Problem 3 - History Page</h4>
                <h5 class="padding-15">
                    It was observed that users were overwhelmed with the amount of information that was presented on the
                    history page of the parks website. Moreover, the information was not efficiently structured on the
                    history page. Users were confused with several aspects of the page including clickable buttons &
                    pictures. Users kept scrolling through the page looking at the vast amount of information. Many
                    users also missed key information about John Golden that was described in the starting text on the
                    history page. Users needed streamlined guidance to access the information on this page.
                </h5>
                <img src="/assets/park/historyproblem.png">

                <h5 class="padding-15">Recommendation:</h5>
                <h5 class="padding-15">
                    Make the following changes in the history page
                    <ul>
                        <li>Make the section buttons present on the top of history page more visually appealing by
                            Increasing their size</li>
                        <li>Add clickable Photos</li>
                        <li>Add a timeline button as a history section that goes to the history timeline page</li>
                    </ul>
                </h5>
            </div>
            <hr style="width: 100%">
            <div class="column-align dead-center">
                <h4 class="padding-15">Problem 4 - Blog Page</h4>
                <h5 class="padding-15">
                    Users found it difficult to search and discover blog posts. One user mentioned that she had
                    participated in a park cleanup event and expected to find a post about that event in the blog but
                    was unable to. Other users who were less familiar with the blog section of the site were inclined to
                    scroll through the page to get a sense of what kind of content they could find in this section.
                </h5>
                <h5 class="padding-15">Recommendation:</h5>
                <h5 class="padding-15">
                    Make the following changes in the history page
                    <ul>
                        <li>Order the posts by date in one column to adhere to the conventional blog format standards
                        </li>
                        <li>Add a clickable archive and keyword filter section on the right side of the page to assist
                            with search and discovery
                        </li>
                    </ul>
                </h5>
                <img src="/assets/park/blogrecommendation.png">
            </div>
        </div>
        <div class="conclusion column-align dead-center">
            <h2 class="padding-15">Conclusion</h2>
            <h5 class="padding-15" style="text-align: center;">In conclusion, the client was very happy with the results and recommendations that we provided. They
                said that these were the things that they felt deinitely need an improvment but not sure how to tackle
                the problems, and the recommendations that we have given were very helpful. If we were to continue to
                work on this project, I would like to interview more participants to get more opinions from other people
                as well. I would also like to do a follow up evaluation and eventually even have a redesign of the whole
                website to make it more attractive.</h5>
        </div>
    </div>
</div>