<div class="top-container">
    <topnav class="top-nav"></topnav>
    <div class="slogan-container column-align dead-center">
        <h1 style="padding: 15px">Friends of Crocheron & John Golden Park</h1>
        <h4>Usability Evaluation Case Study</h4>
        <img style="margin: 25px;" src="/assets/crocheron_splash.jpeg">
    </div>
</div>
<div class="contentwrapper column-align dead-center">
    <div class="content">
        <div class="section1 row-align dead-center">
            <div class="icon-text-pair dead-center column-align">
                <div class="iconwrapper column-align dead-center">
                    <mat-icon class="material-icons-outlined"
                        style="height: 50px; width: 50px; font-size: 50px; color: #4285F4">group</mat-icon>
                    <div style="font-size: 20px; font-weight: bold">Client</div>
                </div>
                <div>
                    <p style="font-size: 16px; text-align: center">
                        Friends of Crocheron & John Golden Park
                    </p>
                </div>
            </div>
            <div class="icon-text-pair dead-center column-align">
                <div class="iconwrapper column-align dead-center">
                    <mat-icon class="material-icons-outlined"
                        style="height: 50px; width: 50px; font-size: 50px; color: #EA4335">person</mat-icon>
                    <div style="font-size: 20px; font-weight: bold">Role</div>
                </div>
                <div>
                    <p style="font-size: 16px; text-align: center">
                        User Testing <br>
                        Contacting participants<br>
                        Schedule and organize interviews<br>
                        Recommendations<br>
                        Creating presentation
                    </p>
                </div>
            </div>
            <div class="icon-text-pair dead-center column-align">
                <div class="iconwrapper column-align dead-center">
                    <mat-icon class="material-icons-outlined"
                        style="height: 50px; width: 50px; font-size: 50px; color: #fbbc05">group_work</mat-icon>
                    <div style="font-size: 20px; font-weight: bold">Group</div>
                </div>
                <div>
                    <p style="font-size: 16px; text-align: center">
                        Nikita Bawa<br>
                        Yang Cheng <br>
                        Erin Murphy<br>
                        Gurav Patel<br>
                        Eric Yu
                    </p>
                </div>
            </div>
            <div class="icon-text-pair dead-center column-align">
                <div class="iconwrapper column-align dead-center">
                    <mat-icon class="material-icons-outlined"
                        style="height: 50px; width: 50px; font-size: 50px; color: #34a853">schedule</mat-icon>
                    <div style="font-size: 20px; font-weight: bold">Timeline</div>
                </div>
                <div class="column-align dead-center">
                    <p style="font-size: 16px; text-align: center">
                        6 Weeks, March - April 2022
                    </p>
                </div>
            </div>
        </div>
        <div class="summary column-align dead-center">
            <h2 style="padding: 15px;">Project Summary</h2>
            <h5 style="text-align: center">
                The purpose of this study was to improve the usability of the Friends of Crocheron and John Golden Park
                website as the creators and users of this website believe that there are multiple roadblocks and
                challenges that need to be fixed. Throughout this study we have discovered several common issues and
                consolidated into four major problems, and provided corresponding recommendations to resolve these
                issues.
            </h5>
        </div>
        <div class="background column-align dead-center">
            <h2 style="padding: 15px;">Background</h2>
            <h5 style="text-align: center">
                The Crocheron Park is a 62 acres park located in Queens, New York with a long
                history. There are
                many regular visitors and there are many events hosted at this park every month. There are also many
                volunteering events happening periodically that allow anyone to participate to help improve the quality
                of the park.
            </h5>
        </div>
        <div class="background column-align dead-center">
            <h2 style="padding: 15px;">Methodology</h2>
            <h5 style="text-align: center">
                We recruited a total of 9 participants and conducted a remote usability test using a video conferencing
                tool <b><i>Zoom</i></b>. These participants are given a series of tasks to complete on the Friends of
                Crocheron and John Golden Park website, and we asks the participants to "think out loud" while they are
                navigating the website so that we can record their interactions and feedbacks.
            </h5>
        </div>
        <div class="process column-align dead-center">
            <h2 style="padding: 15px;">Our Process</h2>
            <div class="row-align dead-center">
                <div class="icon-text-pair dead-center column-align">
                    <mat-icon class="material-icons-outlined"
                        style="height: 50px; width: 50px; font-size: 50px; color: #4285F4">handshake</mat-icon>
                    <div style="font-size: 16px; text-align: center">
                        Client Kickoff Meeting
                    </div>
                </div>
                <div class="icon-text-pair dead-center column-align">
                    <mat-icon class="material-icons-outlined"
                        style="height: 50px; width: 50px; font-size: 50px; color: #EA4335">person_serach</mat-icon>
                    <div style="font-size: 16px; text-align: center">
                        Prepare Questions & Tests
                    </div>
                </div>
                <div class="icon-text-pair dead-center column-align">
                    <mat-icon class="material-icons-outlined"
                        style="height: 50px; width: 50px; font-size: 50px; color: #34a853">edit_note</mat-icon>
                    <div style="font-size: 16px; text-align: center">
                        Participant Recruitment & Interview Scheduling
                    </div>
                </div>
                <div class="icon-text-pair dead-center column-align">
                    <mat-icon class="material-icons-outlined"
                        style="height: 50px; width: 50px; font-size: 50px; color: #fbbc05">video_camera_front</mat-icon>
                    <div style="font-size: 16px; text-align: center">
                        Moderated User Testing
                    </div>
                </div>
                <div class="icon-text-pair dead-center column-align">
                    <mat-icon class="material-icons-outlined"
                        style="height: 50px; width: 50px; font-size: 50px; color: #4285F4">analytics</mat-icon>
                    <div style="font-size: 16px; text-align: center">
                        Analyze Results
                    </div>
                </div>
                <div class="icon-text-pair dead-center column-align">
                    <mat-icon class="material-icons-outlined"
                        style="height: 50px; width: 50px; font-size: 50px; color: #EA4335">summarize</mat-icon>
                    <div style="font-size: 16px; text-align: center">
                        Final Report & Presentation
                    </div>
                </div>
            </div>
        </div>
        <div class="prepare column-align dead-center">
            <h2 style="padding: 15px;">
                Preparing Questions & Test
            </h2>
            <h5 style="text-align: center;">
                Before recruiting participants, we created a interest form containing 4 questions. This form is to get
                some
                general demographic information and the interest in the park from the users that we are going to be
                interviewing.

            </h5>
            <div class="row-align dead-center" style="padding: 25px;">
                <img src="/assets/interestform.PNG">
                <img src="/assets/interestform2.PNG">
            </div>
            <h5 class="padding: 15px;" style="text-align: center;">
                A series of tasks were then created to be asked when we conduct the interviews. The tasks will cover
                pretty much several important section of the website. The <strong> condensed</strong> version of the
                tasks and questions asked are below:
            </h5>
            <mat-card>
                <mat-card-content>
                    <div class="row-align dead-center">
                        <h3 style="padding-right: 35px">1</h3>
                        <h5>
                            Is history something important to you? What would you like to learn more about the history
                            of the
                            park? Try to find this information on the website.
                        </h5>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <div class="row-align dead-center">
                        <h3 style="padding-right: 35px">2</h3>
                        <h5>
                            What kind of information would you expect to find in the park blog? What kind of content are
                            you
                            interested in reading about from the blog? Try going to the blog section and see which posts
                            would
                            you be interested to read more about.
                        </h5>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <div class="row-align dead-center">
                        <h3 style="padding-right: 35px">3</h3>
                        <h5>
                            Would you be interested in participating in an event? How would you like to participate in
                            this
                            event? Try to register as a volunteer for an upcoming event.
                        </h5>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <div class="row-align dead-center">
                        <h3 style="padding-right: 35px">4</h3>
                        <h5>
                            Why/why not would you be interested in donating to the park? Try to make a donation to the
                            park
                        </h5>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="recruit column-align dead-center">
            <h2 class="padding-15">Participant Recruitment & Interview Scheduling</h2>
            <h5 class="padding-15">
                Our team tried to focus on users that actively go to the crocheron park, so we reached out to our client
                help us promote our research study during one of their events to get some participants to participate in
                our study. However, the number of participants that contacted us were quite low, so we also reached out
                to some students at the Pratt Institute as well.
            </h5>
            <div class="row-align dead-center padding-15">
                <img src="/assets/age.png">
                <img src="/assets/occupation.png">
            </div>
            <img src="/assets/interest.PNG">
            <h5 class="padding-15">
                Overall, we were able to recruit 9 participants ranging from 25 to over 60 years old. Most of the
                participants were working professionals or retired, while the others are students. Most participants are
                active users of the park and also have volunteered at the park before, while 50% of the participants
                have donated to the park in the past.
            </h5>
        </div>
    </div>
</div>