<div class="top-container">
    <topnav class="top-nav"></topnav>
    <div class="slogan-container column-align dead-center">
        <h1 style="padding: 15px">Friends of Crocheron & John Golden Park</h1>
        <h4>Usability Evaluation Case Study</h4>
        <img style="margin: 25px;" src="/assets/crocheron_splash.jpeg">
    </div>
</div>
<div class="contentwrapper column-align dead-center">
    <div class="content">
        <div class="section1 row-align dead-center">
            <div class="icon-text-pair dead-center column-align">
                <div class="iconwrapper column-align dead-center">
                    <mat-icon class="material-icons-outlined"
                        style="height: 50px; width: 50px; font-size: 50px; color: #4285F4">group</mat-icon>
                    <div style="font-size: 20px; font-weight: bold">Client</div>
                </div>
                <div>
                    <p style="font-size: 16px; text-align: center">
                        Friends of Crocheron & John Golden Park
                    </p>
                </div>
            </div>
            <div class="icon-text-pair dead-center column-align">
                <div class="iconwrapper column-align dead-center">
                    <mat-icon class="material-icons-outlined"
                        style="height: 50px; width: 50px; font-size: 50px; color: #EA4335">person</mat-icon>
                    <div style="font-size: 20px; font-weight: bold">Role</div>
                </div>
                <div>
                    <p style="font-size: 16px; text-align: center">
                        User Testing <br>
                        Contacting participants<br>
                        Schedule and organize interviews<br>
                        Recommendations<br>
                        Creating presentation
                    </p>
                </div>
            </div>
            <div class="icon-text-pair dead-center column-align">
                <div class="iconwrapper column-align dead-center">
                    <mat-icon class="material-icons-outlined"
                        style="height: 50px; width: 50px; font-size: 50px; color: #fbbc05">group_work</mat-icon>
                    <div style="font-size: 20px; font-weight: bold">Group</div>
                </div>
                <div>
                    <p style="font-size: 16px; text-align: center">
                        Nikita Bawa<br>
                        Yang Cheng <br>
                        Erin Murphy<br>
                        Gurav Patel<br>
                        Eric Yu
                    </p>
                </div>
            </div>
            <div class="icon-text-pair dead-center column-align">
                <div class="iconwrapper column-align dead-center">
                    <mat-icon class="material-icons-outlined"
                        style="height: 50px; width: 50px; font-size: 50px; color: #34a853">schedule</mat-icon>
                    <div style="font-size: 20px; font-weight: bold">Timeline</div>
                </div>
                <div class="column-align dead-center">
                    <p style="font-size: 16px; text-align: center">
                        6 Weeks, March - April 2022
                    </p>
                </div>
            </div>
        </div>
        <div class="summary column-align dead-center">
            <h2 style="padding: 15px;">Project Summary</h2>
            <h5 style="text-align: center">
                The purpose of this study was to improve the usability of the Friends of Crocheron and John Golden Park
                website as the creators and users of this website believe that there are multiple roadblocks and
                challenges that need to be fixed. Throughout this study we have discovered several common issues and
                consolidated into four major problems, and provided corresponding recommendations to resolve these
                issues.
            </h5>
        </div>
        <div class="background column-align dead-center">
            <h2 style="padding: 15px;">Background</h2>
            <h5 style="text-align: center">
                The Friends of Crocheron and John Golden Park is a 62 acres park located in Queens, New York with a long
                history. There are
                many regular visitors and there are many events hosted at this park every month. There are also many
                volunteering events happening periodically that allow anyone to participate to help improve the quality
                of the park.
            </h5>
        </div>
        <div class="background column-align dead-center">
            <h2 style="padding: 15px;">Methodology</h2>
            <h5 style="text-align: center">
                We recruited a total of 9 participants and conducted a remote usability test using a video conferencing tool <b><i>Zoom</i></b>.
            </h5>
        </div>
    </div>
</div>